.wrapper
  display: flex
  flex-direction: column
  gap: 10px
  padding: 20px 24px
  width: 500px
  height: auto
  background: #EFF0F7
  border-radius: 16px

  &:active
    border: 2px solid#14142B

  .title
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 600
    font-size: 18px
    line-height: 34px
    letter-spacing: 0.75px
    color: #14142B

  .text
    font-weight: 400
    font-size: 18px
    line-height: 34px
    letter-spacing: 0.75px
    color: #4E4B66
