.App
  text-align: center

.wrapper
  margin-top: 10px
  display: flex
  flex-direction: column
  gap: 100px
  align-items: center
  flex-wrap: wrap
  padding-bottom: 100px

  .button
    display: flex
    flex-direction: column
    gap: 50px

    .size
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B

    .forms
      font-weight: 400
      font-size: 32px
      line-height: 34px
      letter-spacing: 1px
      color: #6E7191

    .buttons
      font-weight: 700
      font-size: 64px
      line-height: 66px
      letter-spacing: 1px
      color: #14142B

    .large
      border: 1px dashed #5F2EEA
      border-radius: 5px
      width: auto
      padding: 40px
      height: 200px
      display: flex
      justify-content: center
      align-items: center
      gap: 40px

    .icon
      background: #000
      display: flex
      justify-content: center
      padding: 50px
      gap: 100px
      border: 1px dashed #5F2EEA

  .options
    display: flex
    align-items: start
    font-weight: 700
    font-size: 64px
    line-height: 66px
    letter-spacing: 1px
    color: #14142B

  .dropdown
    border: 1px dashed #5F2EEA
    padding: 20px
    width: 500px
    height: 300px
    display: flex
    justify-content: center

  .accordion
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 50px

    .component
      display: flex
      flex-direction: column
      gap: 30px

    b
      display: flex
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B

  .select
    .display
      font-weight: 400
      font-size: 32px
      line-height: 34px
      letter-spacing: 1px
      color: #6E7191

    .tabs
      font-weight: 700
      font-size: 64px
      line-height: 66px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 30px

    .array
      padding: 20px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 360px
      height: 566px
      border: 1px dashed #5F2EEA
      border-radius: 5px

  .carousel

    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 30px

    .array
      background: #000
      padding: 20px
      display: flex
      align-items: center
      justify-content: space-between
      width: 360px
      height: 166px
      border: 1px dashed #5F2EEA
      border-radius: 5px
      display: flex
      gap: 10px

  .progress
    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

    .array
      padding: 30px
      width: 560px
      height: 166px
      border: 1px dashed #5F2EEA
      display: flex
      flex-direction: row
      justify-content: space-between

  .comments
    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

  .toast
    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

    .array
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      gap: 100px
      width: 800px
      height: 506px
      border: 1px dashed #5F2EEA

      .standart, .dissmisible
        display: flex
        flex-direction: column
        gap: 20px

  .tooltips
    .sectionTabs
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

    .array
      display: flex
      flex-direction: row
      gap: 40px
      width: 800px
      justify-content: center
      border: 1px dashed #5F2EEA

  .modal
    .sectionTabs
      text-align: center
      font-weight: 700
      font-size: 48px
      line-height: 50px
      letter-spacing: 1px
      color: #14142B
      margin-bottom: 60px

.App-logo
  height: 40vmin
  pointer-events: none

@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation: App-logo-spin infinite 20s linear

.App-header
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.App-link
  color: #61dafb

// @keyframes App-logo-spin
//   from {
//   transform: rotate(0deg)

//   to {
//   transform: rotate(360deg)
